<main>
  <h1>Create</h1>
  <div class="form">
    <form action="/add" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
      <label for="name">Description</label>
      <textarea id="name" name="description"></textarea>
      <label for="image">ImageUrl</label>
      <input type="text" id="image" name="imageUrl">
      <label for="category">Category</label>
      <select id="difficulty" name="difficultyLevel">
        <option value="girl">Girl</option>
        <option value="boy">Boy</option>
        <option value="baby-girl">Baby-girl</option>
        <option value="baby-boy">Baby-boy</option>
     
      </select>
      <input type="submit" value="Create">
    </form>
  </div>
</main>
